* {
  margin: 0;
}

.navbar-container {
  border-bottom: 2px solid black;
  width: 100%;
  min-height: 50px;
  position: relative;
  margin-bottom: 1.5em;
}
.navbar-app-title {
  position: absolute;
  top: 0.25em;
  left: 0.75em;
}

.day-of-the-week-container,
.day-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 60%;
  margin: auto;
}

.month-container {
  position: relative;
  width: 300px;
  margin: auto;
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 2em;
  user-select: none;
}


.left-calendar-arrow {
  position: absolute;
  top: 3px;
  left: 0;
  cursor: pointer;
}

.right-calendar-arrow {
  position: absolute;
  top: 3px;
  right: 0;
  cursor: pointer;
}

.day-of-the-week-container {
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.2em;
  user-select: none;
}



/* .day-container {
  border-top: 1px solid black;
  border-left: 1px solid black;
} */

/* .day-container > div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
} */

.individual-day-container {
  box-sizing: content-box;
  border-top: 2px solid black;
  border-left: 2px solid black;
  box-shadow: inset -1px -1px 0 1px;
  margin-top: -2px;
  margin-left: -2px;
  width: 100%;
  min-height: 100px;
}

.individual-day-date {
  margin-left: 3px;
}

.add-availability-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.add-availability-form-container {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: white;
  border: 2px solid black;
}